.conteiner_new{
    display: grid; /* Устанавливаем контейнеру display типа grid */
    grid-template-columns: 1fr 1fr 1fr; /* Создаем два столбца одинаковой ширины */
    gap: 10px; /* Отступы между колонками */


}
.car_glav {
    display: flex; /* Используем Flexbox для элементов первого столбца */
    justify-content: center; /* Центрируем изображение по горизонтали */
    align-items: center; /* Центрируем изображение по вертикали */
    border-radius: 10px; /* закругление углов */
    margin-top: 5px; /* отступ сверху */
    width: 100%; /* Изображения заполняют ширину ячеек */
}

.car_image_dop {

    gap: 10px; /* Отступы между изображениями внутри второго столбца */
    margin-top: 10px; /* отступ сверху */
}

.car_image_dop{

    height: auto; /* Высота изменяется пропорционально ширине */
    border-radius: 10px; /* закругление углов */
}

.car_one {
    display: grid; /* Устанавливаем контейнеру второго столбца display типа grid */
    margin-top: 10px; /* отступ сверху */
    width: 30%; /* Изображения заполняют ширину ячеек */
    height: auto; /* Высота изменяется пропорционально ширине */
    border-radius: 10px; /* закругление углов */

}

