{% extends 'main.html' %}
{% load static%}

{% block css%}
<link rel="stylesheet" href="{% static 'css/car_detail.css'%}">
{% endblock css%}

{% block main %}
<div class="conteiner_new" >
    <div>
        <title>Ваше авто</title>
    </div>
    <div>
        <div>
            <div>
                <img src="{{ car.image.url }}" alt="">
            </div>
            <div>
                {% for image in car.carimage_set.all %}
                <img src="{{ image.picture.url }}" alt="">
                {% endfor%}
            </div>
        </div>
        <div>
           <p>текст 1.1</p>
           <p>текст 1.2</p>
           <p>текст 1.3</p>
        </div>
    </div>
    <div>

    </div>
</div>
{% endblock main%}